.cards_block-number_one-settings.bg-cards_settings.cards_block-elements_space
  .cards_block-settings_text
    h1.cards_block-setting-title_h1 Найдём номера под ваши пожелания
  .cards_block-settings  
    .form_elements-item.form_elements-date_dropdown.cards_elements-space
      .form_elements-datepiker-title
        +form_title("form_elements-title form_elements-title_datepiker-left", "Прибытие")
        +form_title("form_elements-title form_elements-title_datepiker-right", "Выезд")
      +datepicker("from", "email_input email_input-dropdown email_input-dropdown_datepiker",  "from", "text", "from", "ДД.ММ.ГГГГ")
      +datepicker( "to", "email_input email_input-dropdown",  "to", "text", "to", "ДД.ММ.ГГГГ") 
      .myDatepicker.datepicker-here(data-range="true" data-multiple-dates-separator=" - " inline: true )
      +button_datepicker("email_input-btn_date-dropdown_datepiker-left", "submit", "expand_more.svg") 
      +button_datepicker("email_input-btn_date-dropdown_datepiker-right", "submit", "expand_more.svg") 
      
    .form_elements-item.form_elements-item_dropdown.cards_elements_space
      .form_elements-head
        h3.form_elements-title гости
      .form_elements_input-wrapper
        input.email_input.email_input-dropdown_guests-default(name='text', type='text', placeholder='Сколько гостей')
        button.email_input-btn_date-dropdown_guests-default(type='submit')
          img(src='assets/img/svg/expand_more.svg')
        .form_dropdown-menu_guests-default.landing_page-form_dropdown-menu_guests-default
          .form_dropdown-menu_wrapper_guests-default
            .form_dropdown-menu_item_guests-default
              h3.form_elements-title.form_dropdown-title Взрослые
              .form_dropdown-menu_guests-configuration_controls
                button#buttonAdultsMinus.configuration_controls.configuration_controls-button_left -
                #buttonAdults.configuration_controls-button_count 0
                button#buttonAdultsPlus.configuration_controls.configuration_controls-button_right +
            .form_dropdown-menu_item_guests-default
              h3.form_elements-title.form_dropdown-title Дети
              .form_dropdown-menu_guests-configuration_controls
                button#buttonChildrenMinus.configuration_controls.configuration_controls-button_left -
                #buttonChildren.configuration_controls-button_count 0
                button#buttonChildrenPlus.configuration_controls.configuration_controls-button_right +
            .form_dropdown-menu_item_guests-default
              h3.form_elements-title.form_dropdown-title Младенцы
              .form_dropdown-menu_guests-configuration_controls
                button#buttonBabiesMinus.configuration_controls.configuration_controls-button_left -
                #buttonBabies.configuration_controls-button_count 0
                button#buttonBabiesPlus.configuration_controls.configuration_controls-button_right +
            .form_dropdown-menu_item_guests-default
              .form_dropdown-menu_guests-buttons_controls
                button.configuration_controls-button_clear очистить
                button.configuration_controls-button_apply применить   
    //-  .form_elements-date_dropdown-left
        +form_title("Прибытие")
        +date_dropdown("form_elements_input-wrapper", "email_input email_input-dropdown", "date", "text", "ДД.ММ.ГГГГ",
          "email_input-btn_date-dropdown","submit", "expand_more.svg")   

      .form_elements-date_dropdown-right
        +form_title("Выезд")
        +date_dropdown("form_elements_input-wrapper", "email_input email_input-dropdown", "date", "text", "ДД.ММ.ГГГГ",
          "email_input-btn_date-dropdown","submit", "expand_more.svg")   

    //-.form_elements-item.form_elements-item_dropdown.cards_elements-space
      +form_title("form_elements-title","гости")
      +date_dropdown("form_elements_input-wrapper", "email_input email_input-guests", "text", "text", "Сколько гостей",
        "email_input-btn","submit", "expand_more.svg")

    .form_elements-buttons_payment.cards_elements_space-top
      +form_button("buttons_payment", "buttons_payment-text", "подобрать номер", "buttons_payment-button", "submit", "arrow_forward_white.svg")