.cards_block-number_three-settings.bg-cards_settings.cards_block-elements_space
  .cards_block-settings_room
    .cards_block-settings_room-left
      h1.cards_block-settings_room-number_h1
        span.cards_block-settings_room-number №
        | 888
        span.cards_block-settings_room-category люкс
    .cards_block-settings_room-right
      h1.cards_block-settings_room-cost
        | 9 990₽
        span.cards_block-settings_room-cost_text в сутки

  .cards_block-settings  
    .form_elements-item.form_elements-date_dropdown.cards_elements-space
      .form_elements-datepiker-title
        +form_title("form_elements-title form_elements-title_datepiker-left", "Прибытие")
        +form_title("form_elements-title form_elements-title_datepiker-right", "Выезд")
      +datepicker("from", "email_input email_input-dropdown email_input-dropdown_datepiker",  "from", "text", "from", "ДД.ММ.ГГГГ")
      +datepicker( "to", "email_input email_input-dropdown",  "to", "text", "to", "ДД.ММ.ГГГГ") 
      .datepicker
      +button_datepicker("email_input-btn_date-dropdown_datepiker-left", "submit", "expand_more.svg") 
      +button_datepicker("email_input-btn_date-dropdown_datepiker-right", "submit", "expand_more.svg") 
    //-  .form_elements-date_dropdown-left
        +form_title("Прибытие")
        +date_dropdown("form_elements_input-wrapper", "email_input email_input-dropdown", "date", "text", "ДД.ММ.ГГГГ",
          "email_input-btn_date-dropdown","submit", "expand_more.svg")

      .form_elements-date_dropdown-right
        +form_title("Выезд")
        +date_dropdown("form_elements_input-wrapper", "email_input email_input-dropdown", "date", "text", "ДД.ММ.ГГГГ",
          "email_input-btn_date-dropdown","submit", "expand_more.svg")

    .form_elements-item.form_elements-item_dropdown.cards_elements_space
      .form_elements-head
        h3.form_elements-title гости
      .form_elements_input-wrapper
        input.email_input.email_input-dropdown_guests-default(name='email', type='email', placeholder='Сколько гостей')
        button.email_input-btn_date-dropdown_guests-default(type='submit')
          img(src='assets/img/svg/expand_more.svg')
        .form_dropdown-menu_guests-default.cards-form_dropdown-menu_guests-default
          .form_dropdown-menu_wrapper_guests-default
            .form_dropdown-menu_item_guests-default
              h3.form_elements-title.form_dropdown-title Взрослые
              .form_dropdown-menu_guests-configuration_controls
                button#buttonAdultsMinus.configuration_controls.configuration_controls-button_left -
                #buttonAdults.configuration_controls-button_count 0
                button#buttonAdultsPlus.configuration_controls.configuration_controls-button_right +
            .form_dropdown-menu_item_guests-default
              h3.form_elements-title.form_dropdown-title Дети
              .form_dropdown-menu_guests-configuration_controls
                button#buttonChildrenMinus.configuration_controls.configuration_controls-button_left -
                #buttonChildren.configuration_controls-button_count 0
                button#buttonChildrenPlus.configuration_controls.configuration_controls-button_right +
            .form_dropdown-menu_item_guests-default
              h3.form_elements-title.form_dropdown-title Младенцы
              .form_dropdown-menu_guests-configuration_controls
                button#buttonBabiesMinus.configuration_controls.configuration_controls-button_left -
                #buttonBabies.configuration_controls-button_count 0
                button#buttonBabiesPlus.configuration_controls.configuration_controls-button_right +
            .form_dropdown-menu_item_guests-default
              .form_dropdown-menu_guests-buttons_controls
                button.configuration_controls-button_clear очистить
                button.configuration_controls-button_apply применить 
                //- +form_title("гости")
                  +date_dropdown("form_elements_input-wrapper", "email_input email_input-guests", "text", "text", "Сколько гостей",
                    "email_input-btn","submit", "expand_more.svg") 

  .cards_block-settings_payment
    .cards_block-settings_payment-left
      .cards_block-settings_cost.cards_block-settings_space
        span.cards_block-settings_cost-day 9 990₽
        span.cards_block-settings_multiplay x
        span.cards_block-settings_day 4 суток
      .cards_block-settings_discount.cards_block-settings_space
        span.cards_block-settings_discount-servicecharge Сбор за услуги: скидка
        span.cards_block-settings_discount-price 2 179₽
        span.cards_block-settings_discount-prompt i
      .cards_block-settings_additional.cards_block-settings_big-space
        span.cards_block-settings_additional-service  Сбор за дополнительные услуги
        span.cards_block-settings_additional-prompt i
      .cards_block-settings_total
        h2.cards_block-settings_total-h2 Итого
          .cards_block-settings_total-border


    .cards_block-settings_payment-right
      .cards_block-settings_cost-total.cards_block-settings_space
        span.cards_block-settings_cost-total_day 39 960₽
      .cards_block-settings_cost-total.cards_block-settings_space  
        span.cards_block-settings_cost-total_discount 0₽
      .cards_block-settings_cost-total.cards_block-settings-big-space_total
        span.cards_block-settings_cost-total_additional 300₽
      .cards_block-settings_cost-total 
        span.cards_block-settings_cost-total_payment 38 081₽ 
  .cards_block-settings_buttons-reservation
    .form_elements-buttons_payment
      +form_button("buttons_payment", "buttons_payment-text", "Забронировать", "buttons_payment-reservation_button", "submit", "arrow_forward_white.svg")