@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/colors_types.scss";
@import "modules/cards.scss";
@import "modules/form_elements/form_elements.scss";
@import "modules/landing_page.scss";
@import "modules/search_room.scss";
@import "modules/room_details.scss";
@import "modules/datepicker.scss";
@import "modules/media.scss";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100vh;
  //overflow-x: hidden;
  margin: 0;
  @media screen and (max-width: 1440px) {
		font-size: 14px;
  }
  @media screen and (max-width: 768px) {
		font-size: 15px;
  }
  @media screen and (max-width: 480px) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-size: 100% auto;
  max-width: 1584px;
  min-height: 1880px;
  height: 100vh; 
  min-width: 320px;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*@media screen and (max-width: $desktopWidth) {
    min-width: $lgDesktopWidth;
  }
  @media screen and (max-width: $lgDesktopWidth) {
    min-width: $mdDesktopWidth;
  }
  @media screen and (max-width: $mdDesktopWidth) {
    min-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    min-width: $phoneWidth;
  }*/
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  //padding: 40px 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  background-color: #F4F4F6;
  max-width: 1600px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  @media screen and (max-width: 768px) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: 480px) {
    max-width: smPhoneWidth;
  }
  
}

.body_landing-page_sign-in {
  min-height: 1198px;
}
.body_landing-page {
  min-height: 1343px;
  /*@media screen and (max-width: $desktopWidth) {
    width: 1440px;
  }
  @media screen and (max-width: $lgDesktopWidth) {
    width: 1366px;
  }
  @media screen and (max-width: $mdDesktopWidth) {
    width: 1280px;
  }
  @media screen and (max-width: $smDesktopWidth) {
    width: 1024px;
  }
  @media screen and (max-width: $phoneWidth) {
    width: 480px;
  }*/

}

.body_landing-page_registration {
  min-height: 1212px;
}

.body_room-details {
  min-height: 1937px;
  height: auto;
}


.icon__logo_container {
  position: absolute;
  fill: #1F2041;
  fill-opacity: .25;
  left: 102px;
  top: 25px;
}

.colors-types_logo-container {
  position: absolute;
  fill: #1F2041;
  fill-opacity: .25;
  left: 102px;
  top: 30px;
}











