//-footer
include mixin
.footer-block.footer-bg
  .footer-block_box
    .footer-block_flex
      .footer-block_logo
        .footer-block_container-logo
          include logo_menu
          .footer-block_text
            span.block_text
              | Lorem ipsum dolor sit amet
              | consectetur adipiscing elit aliquam
              | eget nullam pellentesque aliquam
              | curabitur cociis.

      .footer-menu_block
        .footer-block_menu-item        
          .footer-block_nav
            .footer-block_navigation
              h3.footer-block_title Navigation
              .footer-block_content
                ul.footer-menu
                  li.footer-menu_item About Us
                  li.footer-menu_item News
                  li.footer-menu_item Support
                  li.footer-menu_item Products

        .footer-block_menu-item       
          .footer-block_nav
            .footer-block_about
              h3.footer-block_title About Us
              .footer-block_content
                ul.footer-menu
                  li.footer-menu_item Who we are
                  li.footer-menu_item Our team
                  li.footer-menu_item Careers
                  li.footer-menu_item Investors

        .footer-block_menu-item       
          .footer-block_nav
            .footer-block_support
              h3.footer-block_title Support
              .footer-block_content
                ul.footer-menu
                  li.footer-menu_item Documentation
                  li.footer-menu_item Community
                  li.footer-menu_item Get in Touch

        .footer-block_menu-item_email        
          .footer-block_nav
            .footer-block-subscribe
              h3.footer-block_title Subscribe to our newsletter
              .footer-block_content
                p
                  span.footer-block_content-text
                    | Receive our latest news and promotions in your inbox!
              .footer-block_form-email 
                form.footer_contact-email(action='', method='POST')
                  +date_dropdown("form_elements_input-wrapper", "email_input email_input-suscription", "email", "email", "Your email address",
                    "email_input-btn_subscription","submit", "arrow_forward.svg")
                //-
                  .footer_contact-email__input-wrapper
                    input.footer_contact-email__input(name='email', type='email', placeholder='Your email address', required='')
                    button.footer_contact-btn(type='submit')
                      img(src='assets/img/svg/arrow_forward.svg')      

    //-social
    .footer-block_social
      .footer-block_box-social
        .footer-block_flex-wrapper
          .footer-block_copyright
            span.footer_copyright 
              | Copyright © 2018 Toxin UI Kit. All rights reserved.
          .footer-block_social-icons
            ul.footer_social-icons
              li.social-icons.social_tw
                a(href='#')
                  img(src='assets/img/svg/twitter.svg')
              li.social-icons.social_fb
                a(href='#')
                  img(src='assets/img/svg/facebook.svg')
              li.social-icons.social_inst
                a(href='#')
                  img(src='assets/img/svg/instagram.svg')          

.footer_creative
  .footer-creative_box
    .footer-creative_grid-wrapper
      .footer_creative_grid-box
        .footer_creative_logo-gradient
          img(src='assets/img/svg/Logo_Toxin.svg')
        .footer_creative_text
          p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer_creative_social-icons
          ul
            li.social-icons.social_tw
              a(href='#')
                img(src='assets/img/svg/twitter.svg')
            li.social-icons.social_fb
              a(href='#')
                img(src='assets/img/svg/facebook.svg')
            li.social-icons.social_inst
              a(href='#')
                img(src='assets/img/svg/instagram.svg')       