
.form_elements-item
  .form_elements-head
    h3.form_elements-title Text Field
    p
      span.form_elements-descr Default
  .form_elements_input-wrapper
    input.email_input(name='email', type='email', placeholder='Email', required='')

.form_elements-item          
  .form_elements-head
    h3.form_elements-title Text Field
    p
      span.form_elements-descr Hover / Focus
  .form_elements_input-wrapper
    input.email_input.email_input-hover(name='email', type='email', placeholder='Email', required='')

.form_elements-item.form_elements-item_dropdown
  .form_elements-head
    h3.form_elements-title Dropdown
    p
      span.form_elements-descr Default
  .form_elements_input-wrapper
    input.email_input.email_input-guests(name='email', type='email', placeholder='Сколько гостей')
    button.email_input-btn(type='submit')
      img(src='assets/img/svg/expand_more.svg')

.form_elements-item.form_elements-masked-field         
  .form_elements-head.form_elements-head_masked
    h3.form_elements-title.form_elements-title_masked Masked text field
    p
      span.form_elements-descr Default
  .form_elements_input-wrapper
    input.email_input.email_input-date(name='date', type='text', placeholder='ДД.ММ.ГГГГ', required='')

.form_elements-item.form_elements-date_dropdown.form_elements-date_dropdown-space
  .form_elements-date_dropdown-left
    .form_elements-head
      h3.form_elements-title Date dropdown
    .form_elements_input-wrapper
      input.email_input.email_input-dropdown(name='date', type='text', placeholder='ДД.ММ.ГГГГ', required='')
      button.email_input-btn_date-dropdown(type='submit')
        img(src='assets/img/svg/expand_more.svg')

  .form_elements-date_dropdown-right
    .form_elements-head
      h3.form_elements-title Date dropdown 
    .form_elements_input-wrapper
      input.email_input.email_input-dropdown(name='date', type='text', placeholder='ДД.ММ.ГГГГ', required='')
      button.email_input-btn_date-dropdown(type='submit')
        img(src='assets/img/svg/expand_more.svg')

.form_elements-item.form_elements-filter_date-dropdown.form-elements_container
  .form_elements-head
    h3.form_elements-title Filter date dropdown
  .form_elements_input-wrapper
    input.email_input.email_input-filter(name='date', type='text', placeholder='19 авг - 23 авг')
    button.email_input-btn_filter-date(type='submit')
      img(src='assets/img/svg/expand_more.svg')

.form_elements-item.form-elements_container
  .form_elements-head
    h3.form_elements-title subscription text field    
  .form_elements_input-wrapper
    input.email_input.email_input-suscription(name='email', type='email', placeholder='Email')
    button.email_input-btn_subscription(type='submit')
      img(src='assets/img/svg/arrow_forward.svg')