
header
  nav
    .menu
      include logo_menu
        ul
          .menu_list 
            li.menu_item-elem1  Home
            li  About Us
            li.menu_item-elem3
              | Services
              span.menu_item-img
                img(src='assets/img/expand_more.png')
            li  Careers
            li  News
            li  Documentation