extends ../layout/main
block variables
  - var pageTitle = "UI Kit Cards"

block cards
  .wrapper
    include ../includes/modules/logo
    .cards_block
      .cards_block-number_settings.bg-cards_settings
        .cards_block-settings_text
          h1.cards_block-setting-title_h1 Найдём номера под ваши пожелания
        .cards_block-settings  
          .cards_block-item_check-in Прибытие
          .cards_block-item_check-out Выезд
          





