extends ../layout/main
block variables
  - var pageTitle = "UI Kit Cards"

block cards
  .wrapper
    include ../includes/modules/logo
    include ../includes/modules/mixin
    .cards_block
      .cards_block_section_first
        include ../includes/modules/cards/cards_find_number
        include ../includes/modules/cards/cards_registration_account  
      .cards_block_section_second
        include ../includes/modules/cards/cards_room_level 
        include ../includes/modules/cards/cards_entry
        

      .cards_block_section_third
        .cards_block-number_five-settings.bg-cards_settings-calendar.cards_block-left-space.cards_block-elements_space

        .cards_block-number_six-settings.bg-cards_settings.cards_block-left-space.cards_block-elements_space
          .cards_block-settings_hotel-room
            .cards_block-settings_hotel-room_picture
              img.hotel-room_picture(src='assets/img/hotel_room1.jpg')
              .cards_block-settings_hotel-room_arrows  
                span.cards_block-settings_hotel-room_left-arrow &lsaquo;
                span.cards_block-settings_hotel-room_right-arrow &rsaquo;
              .cards_block-settings_hotel-room_list
                ul.hotel-room_list
                  li.hotel-room_list-item_active
                  li.hotel-room_list-item
                  li.hotel-room_list-item
                  li.hotel-room_list-item
              

          .cards_block-settings_hotel-room_level
            .cards_block-settings_hotel-room_level-title
              .cards_block-settings_hotel-room_level-left
                h2.cards_block-settings_hotel-room_level-number_h2
                  span.cards_block-settings_room-number №
                  | 888
                  span.cards_block-settings_room-category люкс
              .cards_block-settings_hotel-room_level-right
                h2.cards_block-settings_hotel-room_level-cost
                  | 9 990₽
                  span.cards_block-settings_room-cost_text в сутки
              .cards_block-settings_hotel-room_level-line

            .cards_block-settings_hotel-room_stars-reviews
              .cards_block-settings_hotel-room_stars-left
                .form_elements-rate_buttons      
                  .form_elements-rate
                    label.rate_label(for='rate_1')
                      input.rate_input(name='rate_1', type='checkbox' id='rate_1')
                      span.rate_mark
                    label.rate_label(for='rate_2')
                      input.rate_input(name='rate_2', type='checkbox' id='rate_2')
                      span.rate_mark
                    label.rate_label(for='rate_3')
                      input.rate_input(name='rate_3', type='checkbox' id='rate_3')
                      span.rate_mark
                    label.rate_label(for='rate_4')
                      input.rate_input(name='rate_4', type='checkbox' id='rate_4')
                      span.rate_mark
                    label.rate_label(for='rate_5')
                      input.rate_input(name='rate_5', type='checkbox' id='rate_5')
                      span.rate_mark
              .cards_block-settings_hotel-room_reviews-right
                h2.cards_block-settings_hotel-room_reviews
                  | 145
                  span.cards_block-settings_room-reviews_text Отзывов



        .cards_block-number_seven-settings.bg-cards_settings.cards_block-left-space.cards_block-elements_space
          .cards_block-settings_hotel-room
            .cards_block-settings_hotel-room_picture
              img.hotel-room_picture(src='assets/img/hotel_room2.jpg')
              .cards_block-settings_hotel-room_arrows  
                span.cards_block-settings_hotel-room_left-arrow 
                span.cards_block-settings_hotel-room_right-arrow 
              .cards_block-settings_hotel-room_list
                ul.hotel-room_list
                  li.hotel-room_list-item_active
                  li.hotel-room_list-item
                  li.hotel-room_list-item
                  li.hotel-room_list-item

          .cards_block-settings_hotel-room_level
            .cards_block-settings_hotel-room_level-title
              .cards_block-settings_hotel-room_level-left
                h2.cards_block-settings_hotel-room_level-number_h2
                  span.cards_block-settings_room-number №
                  | 840
              .cards_block-settings_hotel-room_level-right
                h2.cards_block-settings_hotel-room_level-cost
                  | 9 990₽
                  span.cards_block-settings_room-cost_text в сутки
              .cards_block-settings_hotel-room_level-line 

            .cards_block-settings_hotel-room_stars-reviews
              .cards_block-settings_hotel-room_stars-left
                .form_elements-rate_buttons      
                  .form_elements-rate
                    label.rate_label(for='rate_1')
                      input.rate_input(name='rate_1', type='checkbox' id='rate_1')
                      span.rate_mark
                    label.rate_label(for='rate_2')
                      input.rate_input(name='rate_2', type='checkbox' id='rate_2')
                      span.rate_mark
                    label.rate_label(for='rate_3')
                      input.rate_input(name='rate_3', type='checkbox' id='rate_3')
                      span.rate_mark
                    label.rate_label(for='rate_4')
                      input.rate_input(name='rate_4', type='checkbox' id='rate_4')
                      span.rate_mark
                    label.rate_label(for='rate_5')
                      input.rate_input(name='rate_5', type='checkbox' id='rate_5')
                      span.rate_mark

              .cards_block-settings_hotel-room_reviews-right
                h2.cards_block-settings_hotel-room_reviews
                  | 65
                  span.cards_block-settings_room-reviews_text Отзывов     








