extends ../layout/main
block variables
  - var pageTitle = "UI Kit Form Elements"

block form_elements
  include ../includes/modules/logo
  section.form_elements
    .form_elements-section.form_elements-section_first
      include ../includes/modules/form_elements/form_elements_section_first            

    .form_elements-section.form_elements-section_second
      include ../includes/modules/form_elements/form_elements_section_second   

    .form_elements-section.form_elements-section_third
      include ../includes/modules/form_elements/form_elements_section_third      

    .form_elements-section.form_elements-section_fourth
      include ../includes/modules/form_elements/form_elements_section_fourth

    .form_elements-section.form_elements-section_fifth
      include ../includes/modules/form_elements/form_elements_section_fifth                        

    .form_elements-section.form_elements-section_sixth
      include ../includes/modules/form_elements/form_elements_section_sixth    

    .form_elements-section.form_elements-section_seventh
      include ../includes/modules/form_elements/form_elements_section_seventh 





