extends ../layout/main
include ../includes/modules/mixin
block variables
  - var pageTitle = "UI Kit Headers and Footers"

block content
  .wrapper
    include ../includes/modules/logo
    .content_wrapper
      header
        nav
          //-Menu Standard nav Bar
          .menu_standard-navbar.menu_navbar-space
            .menu_standard-navbar_section-left

              //-+header_menu_navbar("menu_standard-navbar_menu", "menu_standard-navbar_menu-list", "menu_standard-navbar_item",
                "menu_standard-navbar_item-img", "Home", "About Us", "Services", "Careers", "News", "Documentation" )
              .menu_standard-navbar_menu
                include ../includes/modules/logo_menu
                ul.menu_standard-navbar_menu-list 
                  li.menu_standard-navbar_item.standard-item_elem1  Home
                  li.menu_standard-navbar_item  About Us
                  li.menu_standard-navbar_item.standard-item_elem3
                    | Services
                    span.menu_standard-navbar_item-img
                      img(src='assets/img/svg/expand_more.svg')
                  li.menu_standard-navbar_item  Careers
                  li.menu_standard-navbar_item  News
                  li.menu_standard-navbar_item  Documentation
            .menu_standard-navbar_section-right
              .menu_standard-navbar_buttons
                .standard-navbar_buttons-wrapper
                  button#login.navbar_btn-login
                    a.navbar_btn-login_text(href='#') Login
                    #chart(hidden='')
                  button#register.navbar_btn-register
                    a.navbar_btn-register_text(href='#') Register

          //-Menu logged nav Bar
          .menu_logged-navbar
            .menu_logged-navbar_section-left
              include ../includes/modules/logo_menu
                .menu_logged-navbar_menu
                  ul.menu_logged-navbar_menu-list 
                    li.menu_logged-navbar_item.logged-item_elem1  Home
                    li.menu_logged-navbar_item  About Us
                    li.menu_logged-navbar_item.logged-item_elem3
                      | Services
                      span.menu_logged-navbar_item-img
                        img(src='assets/img/svg/expand_more.svg')
                    li.menu_logged-navbar_item  Careers
                    li.menu_logged-navbar_item  News
                    li.menu_logged-navbar_item  Documentation

            .menu_logged-navbar_section-right
              .menu_logged-navbar_user
                span.navbar_user-text  Cosmin Negoita  
      footer 
        .footer-block.footer-block_space.footer-bg
          .footer-block_box
            .footer-block_flex
              .footer-block_logo
                .footer-block_container-logo
                  include ../includes/modules/logo_menu
                  +footer_block_text("Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.")
              .footer-menu_block
                +footer_block_list("footer-block_navigation","Navigation","About", "News", "Support", "Products")
                +footer_block_list("footer-block_about","About Us","Who we are", "Our team", "Careers", "Investors")
                +footer_block_list("footer-block_support","Support","Documentation", "Community", "Get in Touch")
                .footer-block_menu-item_email        
                  .footer-block_nav
                    .footer-block-subscribe
                      h3.footer-block_title Subscribe to our newsletter
                      .footer-block_content
                        p
                          span.footer-block_content-text
                            | Receive our latest news and promotions in your inbox!
                      .footer-block_form-email 
                        form.footer_contact-email(action='', method='POST')
                          +date_dropdown("form_elements_input-wrapper", "email_input email_input-suscription", "email", "email", "Your email address",
                            "email_input-btn_subscription","submit", "arrow_forward.svg") 

              //-social
            .footer-block_social
              .footer-block_box-social
                .footer-block_flex-wrapper
                  .footer-block_copyright
                    span.footer_copyright 
                      | Copyright © 2018 Toxin UI Kit. All rights reserved.
                  .footer-block_social-icons
                    ul.footer_social-icons
                      li.social-icons.social_tw
                        a(href='#')
                          img(src='assets/img/svg/twitter.svg')
                      li.social-icons.social_fb
                        a(href='#')
                          img(src='assets/img/svg/facebook.svg')
                      li.social-icons.social_inst
                        a(href='#')
                          img(src='assets/img/svg/instagram.svg')  

        .footer_creative
          .footer-creative_box
            .footer-creative_grid-wrapper
              .footer_creative_grid-box
                .footer_creative_logo-gradient
                  img(src='assets/img/svg/Logo_Toxin.svg')
                .footer_creative_text
                  p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .footer_creative_social-icons
                  ul
                    li.social-icons.social_tw
                      a(href='#')
                        img(src='assets/img/svg/twitter.svg')
                    li.social-icons.social_fb
                      a(href='#')
                        img(src='assets/img/svg/facebook.svg')
                    li.social-icons.social_inst
                      a(href='#')
                        img(src='assets/img/svg/instagram.svg') 



