extends ../layout/main
block variables
    - var pageTitle = "UI Kit Headers and Footers"

block content
  .wrapper
    include ../includes/modules/logo
    .content_wrapper
        include ../includes/modules/header




