extends ../layout/Landing_page
include ../includes/modules/mixin
block variables
  - var pageTitle = "Landing Page"

block landing_page
  header
    include ../includes/modules/header

  main
    .landing_bg
      img.landing_img(src='assets/img/Landing_page_bg.png')
      .landing_page-cards_find-number
        include ../includes/modules/cards/cards_find_number

  footer
    include ../includes/modules/footer  
