extends ../layout/Registration
include ../includes/modules/mixin
block variables
  - var pageTitle = "Registration"

block registration
  header
    include ../includes/modules/header
    
  .landing_bg-registration
    img.landing_img(src='assets/img/Registration_bg.png')
    .landing_page-cards_registration
      include ../includes/modules/cards/cards_registration_account 

  footer 
    include ../includes/modules/footer 