extends ../layout/main
include ../includes/modules/mixin
block variables
  - var pageTitle = "Search Room"

block search_room
  header
    include ../includes/modules/header

  main.search_room.search_room-border
    section.search_room-left
      .search_room-form_elements-section_left
        .search_room-form_elements
          .form_elements-item.form_elements-item_space.form-elements_container
            .form_elements-head
              h3.form_elements-title Даты пребывания в отеле
            .form_elements_input-wrapper
              input.email_input.email_input-filter(name='date', type='text', placeholder='19 авг - 23 авг')
              button.email_input-btn_filter-date(type='submit')
                img(src='assets/img/svg/expand_more.svg')

          .form_elements-item.form_elements-filter_guests-dropdown.form-elements_container
            .form_elements-head
              h3.form_elements-title гости
            .form_elements_input-wrapper
              input.email_input.search_room-email_input-dropdown_guests-default(name='text', type='text', placeholder='Сколько гостей')
              button.search_room-email_text-area_btn-date_dropdown-group(type='submit')
                img(src='assets/img/svg/expand_more.svg')
              .form_dropdown-menu_guests-default.search_room-form_dropdown-menu_guests-default
                .form_dropdown-menu_wrapper_guests-default
                  .form_dropdown-menu_item_guests-default
                    h3.form_elements-title.form_dropdown-title Взрослые
                    .form_dropdown-menu_guests-configuration_controls
                      button#buttonAdultsMinus.configuration_controls.configuration_controls-button_left -
                      #buttonAdults.configuration_controls-button_count 0
                      button#buttonAdultsPlus.configuration_controls.configuration_controls-button_right +
                  .form_dropdown-menu_item_guests-default
                    h3.form_elements-title.form_dropdown-title Дети
                    .form_dropdown-menu_guests-configuration_controls
                      button#buttonChildrenMinus.configuration_controls.configuration_controls-button_left -
                      #buttonChildren.configuration_controls-button_count 0
                      button#buttonChildrenPlus.configuration_controls.configuration_controls-button_right +
                  .form_dropdown-menu_item_guests-default
                    h3.form_elements-title.form_dropdown-title Младенцы
                    .form_dropdown-menu_guests-configuration_controls
                      button#buttonBabiesMinus.configuration_controls.configuration_controls-button_left -
                      #buttonBabies.configuration_controls-button_count 0
                      button#buttonBabiesPlus.configuration_controls.configuration_controls-button_right +
                  .form_dropdown-menu_item_guests-default
                    .form_dropdown-menu_guests-buttons_controls
                      button.configuration_controls-button_clear очистить
                      button.configuration_controls-button_apply.search_room-configuration_controls-button_apply применить


          .form_elements-item.form_elements-item_range-slider_search-room
            p
              span.search_room-range_slider
                label.amount_label(for='amount') Диапазон цены
                input#amount.input_amount-text(type='text' readonly='' style='border:none; color:rgba(31, 32, 65, 0.5); font-weight:bold; outline:none;')
            #slider-range  
            p
              span.form_elements-range_slider-text Стоимость за сутки пребывания в номере 

          .form_elements-item.form_elements-item_checkbox-buttons_space
            #chart(hidden='')
            .form_elements-head.head_checkbox-space
              h3.form_elements-title checkbox buttons
            .form_elements-checkbox_buttons      
              .form_elements-checkbox
                label.checkbox_label(for='smoke')
                  input.checkbox_input(name='smoke', type='checkbox' id='smoke')
                  span.checkbox_mark
                  span.checkbox_text Можно курить
              .form_elements-checkbox
                label.checkbox_label(for='pet')
                  input.checkbox_input(name='pet', type='checkbox' id='pet')
                  span.checkbox_mark
                  span.checkbox_text Можно с питомцами
              .form_elements-checkbox
                label.checkbox_label(for='guests')
                  input.checkbox_input(name='guests', type='checkbox' id='guests')
                  span.checkbox_mark
                  span.checkbox_text Можно пригласить гостей
                  span.checkbox_text-guests (до 10 человек)


          .form_elements-item.form_elements-item_checkbox-space
            .form_elements-head.head-rich_checkbox-space
              h3.form_elements-title Доступность
            .form_elements-rich_checkbox-buttons
              .form_elements-rich_checkbox
                label.checkbox_label(for='wide_corridor')
                  input.checkbox_input(name='wide_corridor', type='checkbox' id='wide_corridor')
                  span.checkbox_mark
                  span.rich-checkbox_text-title Широкий коридор
                  span.rich-checkbox_text Ширина коридоров в номере не менее 91 см.
              .form_elements-rich_checkbox
                label.checkbox_label(for='assistant_helper')
                  input.checkbox_input(name='assistant_helper', type='checkbox' id='assistant_helper')
                  span.checkbox_mark
                  span.rich-checkbox_text-title Помощник для инвалидов
                  span.rich-checkbox_text-2 На 1 этаже вас встретит специалист и проводит до номера


          .form_elements-item.form_elements-item_expandable-list_space.form-elements_container
            .form_elements-head
              h3.form_elements-title Удобства номера
            .form_elements_input-wrapper
              textarea.email_text-area.email_text-area_dropdown-group(name='text', type='text', placeholder="0 спальни, 0 кровати..")
              button.email_text-area_btn-date_dropdown-group(type='submit')
                img(src='assets/img/svg/expand_more.svg')
              .form_dropdown-menu
                .form_dropdown-menu_wrapper
                  .form_dropdown-menu_item
                    h3.form_elements-title.form_dropdown-title Спальни 
                    .form_dropdown-configuration_controls
                      button#buttonBedroomsMinus.configuration_controls.configuration_controls-button_left  -
                      #buttonBedrooms.configuration_controls-button_count.buttonBedroomsClass 0
                      button#buttonBedroomsPlus.configuration_controls.configuration_controls-button_right + 
                  .form_dropdown-menu_item
                    h3.form_elements-title.form_dropdown-title Кровати 
                    .form_dropdown-configuration_controls
                      button#buttonBedMinus.configuration_controls.configuration_controls-button_left -
                      #buttonBeds.configuration_controls-button_count 0
                      button#buttonBedPlus.configuration_controls.configuration_controls-button_right + 
                  .form_dropdown-menu_item
                    h3.form_elements-title.form_dropdown-title Ванные комнаты 
                    .form_dropdown-configuration_controls
                      button#buttonBathroomsMinus.configuration_controls.configuration_controls-button_left -
                      #buttonBathrooms.configuration_controls-button_count 0
                      button#buttonBathroomsPlus.configuration_controls.configuration_controls-button_right +   
              //-.form_dropdown-menu(hidden='hidden')
                .form_dropdown-menu_wrapper
                  .form_dropdown-menu_item
                    h3.form_elements-title.form_dropdown-title Спальни 
                    .form_dropdown-configuration_controls
                      button.configuration_controls.configuration_controls-button_left -
                      .configuration_controls-button_count 2
                      button.configuration_controls.configuration_controls-button_right + 
                  .form_dropdown-menu_item
                    h3.form_elements-title.form_dropdown-title Кровати 
                    .form_dropdown-configuration_controls
                      button.configuration_controls.configuration_controls-button_left -
                      .configuration_controls-button_count 2
                      button.configuration_controls.configuration_controls-button_right + 
                  .form_dropdown-menu_item
                    h3.form_elements-title.form_dropdown-title Ванные комнаты 
                    .form_dropdown-configuration_controls
                      button.configuration_controls.configuration_controls-button_left -
                      .configuration_controls-button_count 0
                      button.configuration_controls.configuration_controls-button_right + 

          .form_elements-item.form_elements-item_space-checkbox_expanded.form-elements_container-checkbox
            .form_elements-head.head_checkbox-space
              h3.form_elements-title Дополнительные удобства
              button.email_input-btn_checkbox(type='submit')
                img(src='assets/img/svg/expand_more.svg')
              .form_elements-checkbox_list   
                .form_elements-checkbox
                  label.checkbox_label(for='breakfast')
                    input.checkbox_input(name='breakfast', type='checkbox' id='breakfast')
                    span.checkbox_mark
                    span Завтрак
                .form_elements-checkbox
                  label.checkbox_label(for='desk')
                    input.checkbox_input(name='desk', type='checkbox' id='desk')
                    span.checkbox_mark
                    span.checkbox_text Письменный стол   
                .form_elements-checkbox
                  label.checkbox_label(for='feeding_chair')
                    input.checkbox_input(name='feeding_chair', type='checkbox' id='feeding_chair')
                    span.checkbox_mark
                    span.checkbox_text Стул для кормления
                .form_elements-checkbox
                  label.checkbox_label(for='crib')
                    input.checkbox_input(name='crib', type='checkbox' id='crib')
                    span.checkbox_mark
                    span.checkbox_text Кроватка
                .form_elements-checkbox
                  label.checkbox_label(for='tv')
                    input.checkbox_input(name='tv', type='checkbox' id='tv')
                    span.checkbox_mark
                    span.checkbox_text Телевизор
                .form_elements-checkbox
                  label.checkbox_label(for='shampoo')
                    input.checkbox_input(name='shampoo', type='checkbox' id='shampoo')
                    span.checkbox_mark
                    span.checkbox_text Шампунь
                .form_elements-checkbox
                  label.checkbox_label(for='tv2')
                    input.checkbox_input(name='tv2', type='checkbox' id='tv2')
                    span.checkbox_mark
                    span.checkbox_text Телевизор
                .form_elements-checkbox
                  label.checkbox_label(for='shampoo2')
                    input.checkbox_input(name='shampoo2', type='checkbox' id='shampoo2')
                    span.checkbox_mark
                    span.checkbox_text Шампунь                                       

    section.search_room-right
      .search_room-cards_elements-section_right
        .search_room-cards_elements
          h1.search_room-h1_title Номера, которые мы для вас подобрали
          .search_room-cards_rooms
            .cards_rooms-sections.cards_rooms-sections_flex
              .cards_block-room_number-settings(data-price="9990").bg-cards_settings
                #room_slider1.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture1.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room1.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room2.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room3.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room4.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 888
                        span.cards_block-settings_room-category люкс
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 9 990
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_1')
                            input.rate_input(name='rate_1', type='checkbox' id='rate_1')
                            span.rate_mark
                          label.rate_label(for='rate_2')
                            input.rate_input(name='rate_2', type='checkbox' id='rate_2')
                            span.rate_mark
                          label.rate_label(for='rate_3')
                            input.rate_input(name='rate_3', type='checkbox' id='rate_3')
                            span.rate_mark
                          label.rate_label(for='rate_4')
                            input.rate_input(name='rate_4', type='checkbox' id='rate_4')
                            span.rate_mark
                          label.rate_label(for='rate_5')
                            input.rate_input(name='rate_5', type='checkbox' id='rate_5')
                            span.rate_mark
                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 145
                        span.cards_block-settings_room-reviews_text Отзывов

              .cards_block-room_number-settings(data-price="9990").bg-cards_settings
                #room_slider2.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture2.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room2.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room1.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room4.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room3.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 840
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 9 990 
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_6')
                            input.rate_input(name='rate_6', type='checkbox' id='rate_6')
                            span.rate_mark
                          label.rate_label(for='rate_7')
                            input.rate_input(name='rate_7', type='checkbox' id='rate_7')
                            span.rate_mark
                          label.rate_label(for='rate_8')
                            input.rate_input(name='rate_8', type='checkbox' id='rate_8')
                            span.rate_mark
                          label.rate_label(for='rate_9')
                            input.rate_input(name='rate_9', type='checkbox' id='rate_9')
                            span.rate_mark
                          label.rate_label(for='rate_10')
                            input.rate_input(name='rate_10', type='checkbox' id='rate_10')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 65
                        span.cards_block-settings_room-reviews_text Отзывов


              .cards_block-room_number-settings(data-price="8500").bg-cards_settings
                #room_slider3.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture3.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room3.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room4.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room1.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room2.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 980
                        span.cards_block-settings_room-category люкс
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 8 500
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_11')
                            input.rate_input(name='rate_11', type='checkbox' id='rate_11')
                            span.rate_mark
                          label.rate_label(for='rate_12')
                            input.rate_input(name='rate_12', type='checkbox' id='rate_12')
                            span.rate_mark
                          label.rate_label(for='rate_13')
                            input.rate_input(name='rate_13', type='checkbox' id='rate_13')
                            span.rate_mark
                          label.rate_label(for='rate_14')
                            input.rate_input(name='rate_14', type='checkbox' id='rate_14')
                            span.rate_mark
                          label.rate_label(for='rate_15')
                            input.rate_input(name='rate_15', type='checkbox' id='rate_15')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 35
                        span.cards_block-settings_room-reviews_text Отзывов 

            //-section 2
            .cards_rooms-sections.cards_rooms-sections_flex
              .cards_block-room_number-settings(data-price="7300").bg-cards_settings
                #room_slider4.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture4.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room4.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room3.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room2.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room1.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 856
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 7 300
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_16')
                            input.rate_input(name='rate_16', type='checkbox' id='rate_16')
                            span.rate_mark
                          label.rate_label(for='rate_17')
                            input.rate_input(name='rate_17', type='checkbox' id='rate_17')
                            span.rate_mark
                          label.rate_label(for='rate_18')
                            input.rate_input(name='rate_18', type='checkbox' id='rate_18')
                            span.rate_mark
                          label.rate_label(for='rate_19')
                            input.rate_input(name='rate_19', type='checkbox' id='rate_19')
                            span.rate_mark
                          label.rate_label(for='rate_20')
                            input.rate_input(name='rate_20', type='checkbox' id='rate_20')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 19
                        span.cards_block-settings_room-reviews_text Отзывов                         


              .cards_block-room_number-settings(data-price="6000").bg-cards_settings
                #room_slider5.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture5.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room5.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room6.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room7.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room8.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 740
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 6 000
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_21')
                            input.rate_input(name='rate_21', type='checkbox' id='rate_21')
                            span.rate_mark
                          label.rate_label(for='rate_22')
                            input.rate_input(name='rate_22', type='checkbox' id='rate_22')
                            span.rate_mark
                          label.rate_label(for='rate_23')
                            input.rate_input(name='rate_23', type='checkbox' id='rate_23')
                            span.rate_mark
                          label.rate_label(for='rate_24')
                            input.rate_input(name='rate_24', type='checkbox' id='rate_24')
                            span.rate_mark
                          label.rate_label(for='rate_25')
                            input.rate_input(name='rate_25', type='checkbox' id='rate_25')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 44
                        span.cards_block-settings_room-reviews_text Отзывов


              .cards_block-room_number-settings(data-price="5800").bg-cards_settings
                #room_slider6.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture6.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room6.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room5.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room8.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room7.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 982
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 800
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_26')
                            input.rate_input(name='rate_26', type='checkbox' id='rate_26')
                            span.rate_mark
                          label.rate_label(for='rate_27')
                            input.rate_input(name='rate_27', type='checkbox' id='rate_27')
                            span.rate_mark
                          label.rate_label(for='rate_28')
                            input.rate_input(name='rate_28', type='checkbox' id='rate_28')
                            span.rate_mark
                          label.rate_label(for='rate_29')
                            input.rate_input(name='rate_29', type='checkbox' id='rate_29')
                            span.rate_mark
                          label.rate_label(for='rate_30')
                            input.rate_input(name='rate_30', type='checkbox' id='rate_30')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 56
                        span.cards_block-settings_room-reviews_text Отзывов

            //-section 3
            .cards_rooms-sections.cards_rooms-sections_flex
              .cards_block-room_number-settings(data-price="5000").bg-cards_settings
                #room_slider7.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture7.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room7.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room6.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room5.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room8.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 678
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 500
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_31')
                            input.rate_input(name='rate_31', type='checkbox' id='rate_31')
                            span.rate_mark
                          label.rate_label(for='rate_32')
                            input.rate_input(name='rate_32', type='checkbox' id='rate_32')
                            span.rate_mark
                          label.rate_label(for='rate_33')
                            input.rate_input(name='rate_33', type='checkbox' id='rate_33')
                            span.rate_mark
                          label.rate_label(for='rate_34')
                            input.rate_input(name='rate_34', type='checkbox' id='rate_34')
                            span.rate_mark
                          label.rate_label(for='rate_35')
                            input.rate_input(name='rate_35', type='checkbox' id='rate_35')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 45
                        span.cards_block-settings_room-reviews_text Отзывов 


              .cards_block-room_number-settings(data-price="5300").bg-cards_settings
                #room_slider8.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture8.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room8.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room6.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room7.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room5.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow


                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 450
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 300
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_36')
                            input.rate_input(name='rate_36', type='checkbox' id='rate_36')
                            span.rate_mark
                          label.rate_label(for='rate_37')
                            input.rate_input(name='rate_37', type='checkbox' id='rate_37')
                            span.rate_mark
                          label.rate_label(for='rate_38')
                            input.rate_input(name='rate_38', type='checkbox' id='rate_38')
                            span.rate_mark
                          label.rate_label(for='rate_39')
                            input.rate_input(name='rate_39', type='checkbox' id='rate_39')
                            span.rate_mark
                          label.rate_label(for='rate_40')
                            input.rate_input(name='rate_40', type='checkbox' id='rate_40')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 39
                        span.cards_block-settings_room-reviews_text Отзывов            


              .cards_block-room_number-settings(data-price="5000").bg-cards_settings
                #room_slider9.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture9.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room9.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room10.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room11.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room12.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 350
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 000
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_41')
                            input.rate_input(name='rate_41', type='checkbox' id='rate_41')
                            span.rate_mark
                          label.rate_label(for='rate_42')
                            input.rate_input(name='rate_42', type='checkbox' id='rate_42')
                            span.rate_mark
                          label.rate_label(for='rate_43')
                            input.rate_input(name='rate_43', type='checkbox' id='rate_43')
                            span.rate_mark
                          label.rate_label(for='rate_44')
                            input.rate_input(name='rate_44', type='checkbox' id='rate_44')
                            span.rate_mark
                          label.rate_label(for='rate_45')
                            input.rate_input(name='rate_45', type='checkbox' id='rate_45')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 77
                        span.cards_block-settings_room-reviews_text Отзывов  

            //-section 4
            .cards_rooms-sections.cards_rooms-sections_flex
              .cards_block-room_number-settings(data-price="5000").bg-cards_settings
                #room_slider10.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture10.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room10.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room9.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room12.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room11.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 666
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 000
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_46')
                            input.rate_input(name='rate_46', type='checkbox' id='rate_46')
                            span.rate_mark
                          label.rate_label(for='rate_47')
                            input.rate_input(name='rate_47', type='checkbox' id='rate_47')
                            span.rate_mark
                          label.rate_label(for='rate_48')
                            input.rate_input(name='rate_48', type='checkbox' id='rate_48')
                            span.rate_mark
                          label.rate_label(for='rate_49')
                            input.rate_input(name='rate_49', type='checkbox' id='rate_49')
                            span.rate_mark
                          label.rate_label(for='rate_50')
                            input.rate_input(name='rate_50', type='checkbox' id='rate_50')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 25
                        span.cards_block-settings_room-reviews_text Отзывов            


              .cards_block-room_number-settings(data-price="5000").bg-cards_settings
                #room_slider11.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture11.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room11.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room10.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room9.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room12.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 444
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 000
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_51')
                            input.rate_input(name='rate_51', type='checkbox' id='rate_51')
                            span.rate_mark
                          label.rate_label(for='rate_52')
                            input.rate_input(name='rate_52', type='checkbox' id='rate_52')
                            span.rate_mark
                          label.rate_label(for='rate_53')
                            input.rate_input(name='rate_53', type='checkbox' id='rate_53')
                            span.rate_mark
                          label.rate_label(for='rate_54')
                            input.rate_input(name='rate_54', type='checkbox' id='rate_54')
                            span.rate_mark
                          label.rate_label(for='rate_55')
                            input.rate_input(name='rate_55', type='checkbox' id='rate_55')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 15
                        span.cards_block-settings_room-reviews_text Отзывов 


              .cards_block-room_number-settings(data-price="5000").bg-cards_settings
                #room_slider12.cards_block-settings_hotel-room_slider
                  .cards_block-settings_hotel-room_arrows-gradient_wrapper
                    .cards_block-settings_hotel-room_arrows-gradient
                      .cards_block-settings_hotel-room_left-arrow_gradient
                      .cards_block-settings_hotel-room_right-arrow_gradient  
                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_left-arrow 

                  #room_picture12.cards_block-settings_hotel-room_picture
                    img(src='assets/img/hotel_room12.jpg').hotel-room_picture.hotel-room_picture-active_img
                    img(src='assets/img/hotel_room11.jpg').hotel-room_picture   
                    img(src='assets/img/hotel_room10.jpg').hotel-room_picture
                    img(src='assets/img/hotel_room9.jpg').hotel-room_picture       

                  .cards_block-settings_hotel-room_slider-dots
                    a(href='#').hotel-room_slider-dot.hotel-room_slider-dot_active
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot
                    a(href='#').hotel-room_slider-dot

                  a(href='#').cards_block-settings_hotel-room_arrows.cards_block-settings_hotel-room_right-arrow

                .cards_block-settings_hotel-room_level
                  .cards_block-settings_hotel-room_level-title
                    .cards_block-settings_hotel-room_level-left
                      h2.cards_block-settings_hotel-room_level-number_h2
                        span.cards_block-settings_room-number №
                        | 352
                    .cards_block-settings_hotel-room_level-right
                      h2.cards_block-settings_hotel-room_level-cost
                        | 5 000
                      span.cards_block-settings_hotel-room_level-currency ₽
                      span.cards_block-settings_room-cost_text в сутки
                    .cards_block-settings_hotel-room_level-line 

                  .cards_block-settings_hotel-room_stars-reviews
                    .cards_block-settings_hotel-room_stars-left
                      .form_elements-rate_buttons      
                        .form_elements-rate
                          label.rate_label(for='rate_56')
                            input.rate_input(name='rate_56', type='checkbox' id='rate_56')
                            span.rate_mark
                          label.rate_label(for='rate_57')
                            input.rate_input(name='rate_57', type='checkbox' id='rate_57')
                            span.rate_mark
                          label.rate_label(for='rate_58')
                            input.rate_input(name='rate_58', type='checkbox' id='rate_58')
                            span.rate_mark
                          label.rate_label(for='rate_59')
                            input.rate_input(name='rate_59', type='checkbox' id='rate_59')
                            span.rate_mark
                          label.rate_label(for='rate_60')
                            input.rate_input(name='rate_60', type='checkbox' id='rate_60')
                            span.rate_mark

                    .cards_block-settings_hotel-room_reviews-right
                      h2.cards_block-settings_hotel-room_reviews
                        | 55
                        span.cards_block-settings_room-reviews_text Отзывов 

          .search_room-pagination
            .search_room-pagination_flex
              .search_room-pagination_container
                .form_elements-pagination
                  .pagination_wrapper
                    ul.pagination
                      li.pagination_item.pagination_active 
                        a.pagination_link(href='#') 1
                      li.pagination_item  
                        a.pagination_link(href='#') 2
                      li.pagination_item  
                        a.pagination_link(href='#') 3
                      li.pagination_item  
                        a.pagination_link(href='#') ...
                      li.pagination_item  
                        a.pagination_link(href='#') 15
                      li.pagination_item.pagination_next  
                        a.pagination_link(href='#')
                          img(src='assets/img/svg/arrow_forward_white.svg')
                  .pagination_wrapper-text
                    p
                      span.pagination_text  1 – 12 из 100+ вариантов аренды

  footer 
    include ../includes/modules/footer