extends ../layout/Sign_in
include ../includes/modules/mixin
block variables
  - var pageTitle = "Sign In"

block sign_in
  header
    include ../includes/modules/header

  .landing_bg-sign_in 
    img.landing_img(src='assets/img/Registration_bg.png')
    .landing_page-cards_entry
      include ../includes/modules/cards/cards_entry


  footer
    include ../includes/modules/footer   
                  