//grid section
.cards_block {
  position: absolute;
  left: 211px;
  top: 110px;
  width: 80%;
  height: 1140px;
  display: grid;
  grid-template-columns: 380px 380px 380px;
  
  //grid-template-columns: repeat(auto-fill, 320px);
  grid-template-rows: 1100px;
  //grid-auto-flow: row;
  grid-column-gap: 39px;
}



//3 section
.cards_block_section_first, .cards_block_section_second, .cards_block_section_third {
  position: relative;
  width: 380px;
  height: 1061px;
  margin-top: 40px;
}
//отступы между карточками
.cards_block-elements_space {
  margin-bottom: 40px;
}

//размеры карточек
.cards_block-number_one-settings {
  width: 100%;
  height: 374px;
}

.cards_block-number_two-settings {
  width: 100%;
  height: 646px;
}

.cards_block-number_three-settings {
  width: 100%;
  height: 511px;
}

.cards_block-number_four-settings {
  width: 100%;
  height: 358px;
}

.cards_block-number_five-settings {
  width: 320px;
  height: 369px;
}

.cards_block-number_six-seven-settings {
  display: flex;
  flex-direction: column;
}
.cards_block-number_six-settings, .cards_block-number_seven-settings, .cards_block-room_number-settings {
  width: 270px;
  height: 257px;
}


//dasdas
.cards_block-left-space {
  margin-left: 3px;
}

//общий background, border и тд для карточек
.bg-cards_settings, .bg-cards_settings-calendar {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bg-cards_settings-calendar {
  border: 1px solid $dark-shade25;
}

//header карточек
.cards_block-settings_text, .cards_block-settings_text-register, .cards_block-settings_room{
  width: 320px;
  height: 60px;
  margin-top: 39px;
  margin-left: 31px;  
}
.cards_block-settings_text-register {
  height: 50px;
}

//заголовки карточек
.cards_block-setting-title_h1, .cards_block-settings_room-number_h1, .cards_block-settings_room-number, .cards_block-settings_total-h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Open Sans';
  color: #1F2041;
}

//настройки карточек
.cards_block-settings, .cards_block-settings_register, .cards_block-settings_payment, .cards_block-settings_buttons-reservation {
  width: 320px;
  margin-left: 30px;
  margin-top: 18px;
  .cards_elements-space {
    margin-bottom: 18px;
  }
  .cards_elements_space-top {
    margin-top: 30px;
  }
}

.cards_block-settings_register {
  margin-top: 0;
}

.cards_block-settings_payment {
  margin-top: 19px;
  height: 157px;
  color: $dark-shade75;
}

.cards_block-settings_buttons-reservation {
  margin-top: -4px;
  margin-left: 32px;
}

//отступы и размеры элементов в настройках 1 секция
.cards_block-settings_space {
  margin-bottom: 15px;
}
.cards_block-settings_big-space {
  margin-bottom: 28px;
}

.cards_block-settings-big-space_total {
  margin-bottom: 47px;
}

.cards_block-settings_name {
  margin-bottom: 8px;
}

.cards-block_settings_radio-buttons {
  margin-bottom: 23px;
}

.cards_block-settings_input-date {
  margin-bottom: 16px;
}

.cards_block-settings_buttons-entry {
  width: 320px;
  height: 44px;
}

.cards_block-settings_buttons-payment {
  width: 320px;
  height: 44px;
  margin-bottom: 30px;
}

.cards_block_text {
  float: left;
  width: 60%;
  line-height: 18px;
  margin-top: 13px;
}

.cards_block_buttons {
  float: right;
  width: 31%;
}

.cards_block-buttons_payment {
  width: 320px;
  height: 44px;
  margin-top: 18px;
  margin-left: 2px;
}

//отступы и размеры элементов в настройках 2 секции
.cards_block-settings_room {
  height: 30px;
}

.cards_block-settings_room-left {
  float: left;
  width: 110px;
  height: 30px;
}

.cards_block-settings_room-right {
  float: right;
  width: 110px;
  height: 18px;
  font-size: 14px;
}

.cards_block-settings_room-number_h1 {
  font-family: 'Quicksand';
  height: 100%;
}

.cards_block-settings_room-number {
  font-family: 'Montserrat';
  font-size: 14px;
  margin-right: 4px;
}

.cards_block-settings_room-category {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #BC9CFF;
  margin-left: 6px;
}

.cards_block-settings_room-cost, .cards_block-settings_hotel-room_level-cost{
  font-family: 'Montserrat';
  height: 100%;
  line-height: 18px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: $dark-shade50;
}

.cards_block-settings_hotel-room_level-cost{ 
  margin-top: 0px;
}

.cards_block-settings_room-cost_text {
  font-weight: normal;
  font-size: 12px;
  margin-left: 7px;
}

.cards_block-settings_payment-left {
  float: left;
  width: 252px;
}
.cards_block-settings_payment-right {
  float: right;
  width: 66px;
  height: 19px;
}

.cards_block-settings_cost, .cards_block-settings_discount, .cards_block-settings_additional, .cards_block-settings_total{
  width: 100%;
  padding-left: 3px;
  height: 20px;
}
.cards_block-settings_additional {
  height: 36px;
}

.cards_block-settings_cost-total {
  width: 100%;
  height: 100%;
  text-align: right;
}

.cards_block-settings_cost-day, .cards_block-settings_multiplay {
  padding-right: 5px;
}

.cards_block-settings_discount-servicecharge {
  padding-right: 3px;
}
.cards_block-settings_discount-price {
  padding-right: 8px;
}

.cards_block-settings_discount-prompt, .cards_block-settings_additional-prompt{
  height: 20px;
  width: 20px;
  border: 1px solid $dark-shade25;
  border-radius: 22px;
  padding: 0px 7px;
  font-weight: 700;
  color: $dark-shade25;
}
.cards_block-settings_additional-prompt {
  position: relative;
  left: 170px;
  bottom: 20px;
}

.cards_block-settings_cost-total_discount {
  width: 100%;
  height: 100%;
}

.cards_block-settings_total-border {
  display: inline-block;
  background: url('/assets/img/svg/dotted.svg');
  height: 1px;
  width: 182px;
  margin-left: 3px;
}

.cards_block-settings_total-h2 {
  font-size: 19px;
  line-height: 24px;
}

.cards_block-settings_cost-total_payment {
  font-family: 'Quicksand';
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #1F2041;
}

//section 3
.cards_block-settings_hotel-room_slider{
  width: 100%;
  height: 151px;
  overflow: hidden;
  position: relative;
}

.cards_block-settings_hotel-room_picture {
  width: 100%;
  height: 100%;
}
.cards_block-settings_hotel-room_list, .cards_block-settings_hotel-room_list-dots {
  width: 44.25px;
  height: 14.49px;
}

.cards_block-settings_hotel-room_arrows-gradient_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.cards_block-settings_hotel-room_arrows-gradient {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  //display: none;
}


.cards_block-settings_hotel-room_left-arrow_gradient {
  width: 42px;
  height: 100%;
  margin: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}
.cards_block-settings_hotel-room_right-arrow_gradient {
  width: 42px;
  height: 100%;
  margin: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cards_block-settings_hotel-room_arrows {
  position: absolute;
  top: 43.5%;
  z-index: 1;
  outline: none;
  display: none;
}
.cards_block-settings_hotel-room_arrows::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border: solid #FFFFFF;
  border-width: 2px 2px 0 0;
}

.cards_block-settings_hotel-room_left-arrow {
  left: 19px;
  transform: rotate(-135deg);
}
.cards_block-settings_hotel-room_right-arrow {
  right: 19px;
  transform: rotate(45deg);
}
.hotel-room_picture {
  max-width: 100%;
  display: none;
}
.hotel-room_picture-active_img {
  display: block;
}

.cards_block-settings_hotel-room_slider-dots {
  position: absolute;
  right: 0px;
  bottom: 10px;
  transform: translateX(-19%);
  z-index: 1;
}
.hotel-room_slider-dot {
  display: inline-block;
  margin: 0 2px;
  width: 7.9px;
  height: 7.9px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.hotel-room_slider-dot_active {
  background-color: #fff;
}
/*
.cards_block-settings_hotel-room_arrows-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //display: none;
}


*/


/*
.cards_block-settings_hotel-room_right-gradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cards_block-settings_hotel-room_left-arrow, .cards_block-settings_hotel-room_right-arrow  {
  display: block;
  width: 44px;
  height: 44px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 3px;
  color: #FFFFFF;  
  background-image: none; 
  background-color: transparent;
}
*/

.cards_block-settings_hotel-room_level {
  width: 100%;
  height: 105px;
}

.cards_block-settings_hotel-room_level-title {
  width: 100%;
  height: 55px;
}

.cards_block-settings_hotel-room_level-left {
  float: left;
  width: 110px;
  height: 24px;
  margin-top: 19px;
  margin-left: 19px;
}

.cards_block-settings_hotel-room_level-right {
  float: right;
  width: 111px;
  height: 18px;
  font-size: 14px;
  margin-right: 14px;
  margin-top: 24px;
}

.cards_block-settings_hotel-room_level-line  {
  position: relative;
  top: 54px;
  left: 19px;
  height: 1px;
  width: 230px;
  border-bottom: 1px solid $dark-shade10;
}

.cards_block-settings_hotel-room_level-number_h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 17px;
  font-family: 'Quicksand';
  color: #1F2041;
}

.cards_block-settings_hotel-room_stars-reviews {
  width: 100%;
  height: 50px;
}

.cards_block-settings_hotel-room_stars-left {
  width: 120px;
  float: left;
  margin-top: 7px;
  margin-left: 20px;
}
.cards_block-settings_hotel-room_reviews-right {
  width: 105px;
  float: right;
  margin-right: 19px;
  margin-top: 2px;
  text-align: right;
}

.cards_block-settings_hotel-room_reviews {
  font-family: 'Montserrat';
  height: 100%;
  line-height: 18px;
  margin-top: 10px;
  margin-left: 11px;
  font-size: 14px;
  font-weight: 700;
  color: $dark-shade50;
}

.cards_block-settings_room-reviews_text {
  font-weight: normal;
  font-size: 14px;
  margin-left: 4px;
  margin-top: -1px;
}

/*
.cards_block-settings_hotel-room_list, .cards_block-settings_hotel-room_list-dots {
  position: relative;
  bottom: 29px;
  right: 4px;
  width: 51px;
  height: 15px;
  float: right;
}

.hotel-room_picture-slider {
  width: 270px;
  height: 151px;
}
.hotel-room_picture, .hotel-room_picture-active_img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: none;
  width: 270px;
  height: 151px;
}
.hotel-room_picture-active_img {
  display: block;
  width: 270px;
  height: 151px;
}
.hotel-room_picture:first-child, .hotel-room_picture:nth-child(2), .hotel-room_picture:nth-child(3), .hotel-room_picture:nth-child(4){
  width: 100%;
}

.hotel-room_list {
  width: 100%;
  height: 100%;
}

.hotel-room_list-item_active-dot, .hotel-room_list-item_dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #FFFFFF;
  border-radius: 22px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  margin-right: 3px;
}

.hotel-room_list-item_active-dot {
  background-color: #FFFFFF;
}
*/

