//Left section
.colors_types {
  position: absolute;
  top: 124px;
  left: 72px;
  width: 1440px;
  height: 631px;
}

.colors-types_flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.color-block_item-color{
  width: 70px;
  height: 70px;
  border-radius: 6px;
  float: left;
}

.bg_dark100 {
  background: #1F2041;
}

.bg_dark75 {
  background: rgba(31, 32, 65, 0.75);
}

.bg_dark50 {
  background: rgba(31, 32, 65, 0.5);
}

.bg_dark25 {
  background: rgba(31, 32, 65, 0.25);
}

.bg_dark5 {
  background: rgba(31, 32, 65, 0.05);
}

.bg_purple {
  background: #BC9CFF;
}

.bg_green {
  background: #6FCF97;
}

.color-block {
  width: 269.26px;
  height: 100%;
  margin-left: 78px;  
}

.color-block_item {
  height: 70px;
  margin-top: 20px;
}

.color-block_item-text {
  position: relative;
  float: right;
  margin-top: 8px;
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  color: #1F2041;   
}

.item-text_h2-full, .item-text_h2-rgba, .item-text_h2-5, .item-text_h2-purple, .item-text_h2-green{
  position: relative;
  margin-bottom: 1px;
  margin-left: 10px;
  font-size: 19px;
  line-height: 29px;
  font-weight: bold;
}


.item-text_h2-rgba {
  margin-right: 9px;
}

.item-text_h2-5 {
  margin-right: 20px;
}

.item-text_h2-purple {
  margin-right: 100px;
}

.item-text_h2-green {
  margin-right: 104px;
}

.item-text_p {
  font-size: 19px;
  font-weight: normal;
  margin-left: 10px;
}


//right section

.types-block {
  width: 403px;
  height: 321px;
  margin-right: 262px;
}

.title_color_float {
  float: left;
  color: rgba(31, 32, 65, 0.25);
}
.type-block_h1 {
  position: relative;
  left: 9px;
  font-size: 24px;
  line-height: 29px;
}

.type-block_h2 {
  position: relative;
  left: 10px;
  font-size: 19px;
  line-height: 23px; 
}

.type-block_h3 {
  position: relative;
  left: 20px;
  font-size: 12px;
  line-height: 17px; 
}

.type-block_body {
  font-size: 14px;
  line-height: 24px;
}

.text_font-float {
  font-family: "Quicksand", sans-serif;
  float: right;
}

.type-block_h1-text {
  width: 336px;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;  
}

.type-block_h2-text {
  width: 282px;
  height: 48px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin-right: 54px;
}

.type-block_h3-text {
  width: 187px;
  height: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 149px;
  @include kerning(0.6);
}

.type-block_body-text {
  width: 307px;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  margin-right: 28px;
  @include kerning(0.5);
}

.type-block_color-h {
  color: #1F2041;
}

.type-block_elem-1 {
  margin-top: 21px;
  height: 60px;
  width: 403px;
}

.type-block_elem-2_3 {
  margin-top: 50px;
  height: 48px;
  width: 403px;
}

.type-block_elem-4 {
  margin-top: 14px;
  height: 48px;
  width: 403px;
}


