// footer style
.footer-block {
  position: absolute;
  width: 1600px;
  height: 443px;
  margin-top: 364px;
}
.footer-block_box{
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  height: 84%;
}
.footer-block_flex {
  display: flex;
  justify-content: center;
  height: 100%;
}

.footer-bg {
  background: #FFFFFF;  
}


//Logo
.footer-block_item {
  position: relative;
  width: 30%;
  height: 100%;   
}
.footer_logo-gradient{
  position: absolute;    
  width: 105.69px;
  height: 40px;
  left: 212px;
  float: left;
  top: 100px;
} 
.footer-block_text {
  position: relative;
  top: 157px;
  left: 211px; 
  width: 260px;    
}
.block_text {
  line-height: 24px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}


//Menu
.footer-menu_block {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 70%;  
}
.footer-block_nav {
  position: relative;
  top: 102px;
  left: 31px;      
}
.footer-block_title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #1F2041;
  padding-bottom: 17px;
}
.footer-block_navigation {
  padding-right: 118px;
}
.footer-block_about {
  padding-right: 117px;
}
.footer-block_support {
  padding-right: 88px;
}

.footer-block_content{
  padding-bottom: 10px;
  .footer-menu {
    .footer-menu_item {
      line-height: 21px;
      padding-bottom: 17px;
      color: rgba(31, 32, 65, 0.5);
    }
  }
}


.footer-block-subscribe {
  width: 260px;
  .footer-block_title {
    padding-bottom: 15px;
  }
  .footer-block_content {
    .footer-block_content-text {
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }       
  }      
}

.footer-block_form-email  {
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 11px;  
}
.footer_contact-email {
  padding: 12px 0px 12px 14px;
  @include placeholder {
    color: rgba(31, 32, 65, 0.25);
    @include kerning(1);
  }  
}


.footer_contact-btn {
  position: relative;
  background-color: #fff;
  left: 38px;
}

//social
.footer-block_social {
  position: absolute;
  clear: both;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 373px;
}

.footer-block_box-social {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 100%;
  height: 100%;
}

.footer-block_flex-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-block_copyright {
  position: relative;
  top: 28px;
  left: 212px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}


.footer-block_social-icons {
  position: relative;
  top: 21px;
  right: 210px;
}

.social-icons {
  display: inline-block;
  padding-right: 20px;
  font-size: 24px;
  line-height: 23px;
}
.social_tw {
  padding-right: 23px;
}


//footer_creative

.footer_creative {
  position: absolute;
  margin-top: 847px;
  width: 1600px;
  height: 367px;
}

.footer-creative_box {
  background: #FFFFFF;
  height: 100%;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.footer-creative_grid-wrapper {
  position: relative;
  top: 100px;
}

.footer_creative_grid-box {
  display: grid;
  justify-content: center;
}

.footer_creative_logo-gradient {
  position: relative;
  left: 220px;
  width: 105.69px;
  height: 40px;
  margin-bottom: 17px;
}

.footer_creative_text {
  position: relative;
  width: 560px;
  height: 48px;
  text-align: center;
  padding-right: 15px;
  line-height: 24px;
  margin-bottom: 26px;
  color: rgba(31, 32, 65, 0.75);
}

.footer_creative_social-icons {
  position: relative;
  text-align: center;
  
}




