.form_elements {
  max-width: 85%;
  height: 100%;
  margin: 141px auto;
  display: grid;
  justify-items: center;
}

//Секции
.form_elements-section_left {
  margin-left: 94px;
  width: 320px;
  height: 100%;  
}

.form_elements-section-center {
  width: 320px;
  height: 100%;
}
.form_elements-section-right {
  width: 320px;
  height: 100%;
}
.form-elements_container {
  width: 266px;
  height: 66px;
}
.form-elements_container-expanded {
  width: 266px;
  height: 185px;
}

.form-elements_container-checkbox {
  width: 266px;
  height: 44px;
}

//Blocks
.form_elements-item {
  margin-bottom: 18px;
}
.form_elements-item_dropdown {
  margin-bottom: 18px;
}
.container-space {
  margin-bottom: 98px;
}

.form_elements-item_space {
  width: 100%;
  height: 66px;
  margin-top: 38px;
}
.form_elements-item_space-subscription {
  margin-top: 40px;
}
.form_elements-item_space-checkbox {
  margin-top: 51px;
}
.form_elements-item_space-checkbox_expanded {
  margin-top: 20px;
}
.form_elements-item_space-icon {
  margin-top: 252px;
}


.form_elements-date_dropdown-left {
  width: 47%;
  height: 100%;
  float: left;
}
.form_elements-date_dropdown-right {
  width: 47%;
  height: 100%;
  float: right;
}
.form_elements-head{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 7px;
  height: 15px;
  width: 100%;
}

.head_checkbox-space {
  margin-bottom: 20px;
}

.form_elements-title{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $h-color;
  float: left;
  padding-top: 3px;
}

.form_elements-descr {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade50;
  float: right;
  margin-top: 2px;
}

.form_elements_input-wrapper {
  width: 100%;
  height: 44px;
}

.form_elements-title_masked {
  padding-top: 6px;
}
.form_elements-head_masked {
  height: 17px;
  margin-bottom: 8px;
}

.form_dropdown-menu {
  position: relative;
  bottom: 19px;
  width: 266px;
  height: 119px; 
}

.form_dropdown-menu_wrapper {
  border: 1px solid $dark-shade50;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  height: 100%;
  width: 100%;
}

.form_dropdown-menu_item {
  width: 100%;
  height: 31%;
  padding-left: 13px;
}
.form_dropdown-title {
  padding-top: 12px;
  float: left;
}

.form_dropdown-configuration_controls {
  margin-top: 6px;
  margin-right: 7px;
  width: 92px;
  height: 30px;
  float: right;
}

.form_elements-checkbox_wrapper {
  width: 222px;
  height: 230.56px;
}
.form_elements-checkbox {
  margin-bottom: 11px;
}

.form_elements-item_icon {
  width: 291px;
  height: 175px;
}

.form_elements-item_icon-block {
  width: 100%;
  height: 45%;
  margin-top: 10px;
}

.form_elements-item_picture {
  position: relative;
  top: 13px;
  left: 3px;
  width: 14%;
}

.picture_space {
  margin-left: 1px;
}

.form_elements-item_icon-title {
  position: relative;
  bottom: 27px;
  left: 59px;
  width: 100%;
  margin-top: -3px;
  margin-left: -2px;
}
.item_icon-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-shade75;
}
.item_icon-text {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  color: $dark-shade75
}
.title-space {
  padding-top: 2px;
}

.form_elements-item_line {
  width: 280px;
}
.item_line {
  position: relative;
  bottom: 8px;
  border: 0.5px solid $dark-shade10
}

//инпуты
.email_input {
  padding: 13px 15px;
  border: 1px solid $dark-shade25;
  width: 100%;
  border-radius: 4px;
  @include placeholder {
    color: $dark-shade25;
    font-family: $mainFont;
  }  
}

.email_input-hover:hover {
  border: 1px solid $dark-shade50;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  @include placeholder {
    color: $dark-shade75;
  }  
}

.email_input-guests {
  @include placeholder {
    color: $dark-shade75;
  } 
}

.email_input-date {
  @include placeholder {
    color: $dark-shade25;
    font-size: 14px;
    line-height: 18px;
  } 
}

.email_input-dropdown {
  width: 150px;
  height: 44px;
}

.email_input-filter, .email_input-suscription{
  width: 266px;
  &:hover {
    border: 1px solid $dark-shade50;
    box-sizing: border-box;
    border-radius: 4px;
    @include placeholder {
      color: $dark-shade75;
      font-family: $mainFont;
    } 
  }
}
.email_input-filter {
  @include placeholder {
    @include kerning(0);
    color: $dark-shade75;
  }
}

.email_input-dropdown_group {
  width: 266px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid $dark-shade50;
  @include placeholder {
    color: $dark-shade75;
    @include kerning(0.1);
    line-height: 24px;
  }
}

//buttons
.email_input-btn {
  position: relative;
  background-color: #fff;
  left: 285px;
  bottom: 31px;
}

.email_input-btn_filter-date, .email_input-btn_subscription {
  position: relative;
  top: 1px;
  right: 34px;
  background-color: #fff;
}

.email_input-btn_date-dropdown, .email_input-btn_date-dropdown_group{
  position: relative;
  bottom: 30px;
  left: 115px;
  background-color: #fff;
}

.email_input-btn_subscription {
  top: -32px;
  left: 229px;
}

.email_input-btn_date-dropdown_group {
  left: 230px;
  bottom: 32px;
}

.email_input-btn_checkbox {
  position: relative;
  top: 1px;
  right: 10px;
  background-color: #fff;
}

.configuration_controls {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid $dark-shade25;
  background: #fff;
  font-size: 16px;
  line-height: 22px;
  color: $dark-shade50;
  text-align: center;
}

.configuration_controls-button_left {
  float: left;
}

.configuration_controls-button_count {
  float: left;
  padding-left: 13px;
  padding-top: 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.configuration_controls-button_right {
  float: right;
}


//checkbox
.checkbox_label {
  padding-left: 29px;
  width: 100%;
  height: 100%;
  color: $dark-shade50;
  text-align: center;
}
.checkbox_input {
  position: absolute;
  appearance: none;  
}

.checkbox_mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid $dark-shade25;
  border-radius: 4px;
  margin-left: -30px;
  transition: 0.2s;
}

.checkbox_input:checked + .checkbox_mark {
  border: 1px solid #BC9CFF;
  background-image: url('/assets/img/svg/mark_check.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.2s;
}

.checkbox_text {
  position: relative;
  top: 2px;
}