.form_elements-item.form-elements_container-dropdown_expanded.form-elements_container-dropdown_expanded-space
  .form_elements-head
    h3.form_elements-title dropdown
    #chart(hidden='')
  .form_elements_input-wrapper
    input.email_input.email_input-dropdown_guests-default(name='email', type='email', placeholder='Сколько гостей')
    button.email_input-btn_date-dropdown_guests-default(type='submit')
      img(src='assets/img/svg/expand_more.svg')
    .form_dropdown-menu_guests-default
      .form_dropdown-menu_wrapper_guests-default
        .form_dropdown-menu_item_guests-default
          h3.form_elements-title.form_dropdown-title Взрослые
          .form_dropdown-menu_guests-configuration_controls
            button.configuration_controls.configuration_controls-button_left -
            .configuration_controls-button_count 0
            button.configuration_controls.configuration_controls-button_right +
        .form_dropdown-menu_item_guests-default
          h3.form_elements-title.form_dropdown-title Дети
          .form_dropdown-menu_guests-configuration_controls
            button.configuration_controls.configuration_controls-button_left -
            .configuration_controls-button_count 0
            button.configuration_controls.configuration_controls-button_right +
        .form_dropdown-menu_item_guests-default
          h3.form_elements-title.form_dropdown-title Младенцы
          .form_dropdown-menu_guests-configuration_controls
            button.configuration_controls.configuration_controls-button_left -
            .configuration_controls-button_count 0
            button.configuration_controls.configuration_controls-button_right +
        .form_dropdown-menu_item_guests-default
          .form_dropdown-menu_guests-buttons_controls
            //-button.configuration_controls-button_clear
            button.configuration_controls-button_apply применить

.form_elements-item.form_elements-rich_checkbox-bullet_list-space
  .form_elements-head.head-rich_checkbox-space
    h3.form_elements-title rich checkbox buttons
  .form_elements-rich_checkbox-buttons
    .form_elements-rich_checkbox
      label.checkbox_label(for='wide_corridor')
        input.checkbox_input(name='wide_corridor', type='checkbox' id='wide_corridor')
        span.checkbox_mark
        span.rich-checkbox_text-title Широкий коридор
        span.rich-checkbox_text Ширина коридоров в номере не менее 91 см.
    .form_elements-rich_checkbox
      label.checkbox_label(for='assistant_helper')
        input.checkbox_input(name='assistant_helper', type='checkbox' id='assistant_helper')
        span.checkbox_mark
        span.rich-checkbox_text-title Помощник для инвалидов
        span.rich-checkbox_text-2 На 1 этаже вас встретит специалист и проводит до номера