.form_elements-item
  .form_elements-head.head_checkbox-space
    h3.form_elements-title checkbox buttons
  .form_elements-checkbox_buttons      
    .form_elements-checkbox
      label.checkbox_label(for='smoke')
        input.checkbox_input(name='smoke', type='checkbox' id='smoke')
        span.checkbox_mark
        span.checkbox_text Можно курить
    .form_elements-checkbox
      label.checkbox_label(for='pet')
        input.checkbox_input(name='pet', type='checkbox' id='pet')
        span.checkbox_mark
        span.checkbox_text Можно с питомцами
    .form_elements-checkbox
      label.checkbox_label(for='guests')
        input.checkbox_input(name='guests', type='checkbox' id='guests')
        span.checkbox_mark
        span.checkbox_text Можно пригласить гостей
        span.checkbox_text-guests (до 10 человек)

.form_elements-item.form_elements-radio_buttons-space
  .form_elements-head.head_radio-buttons_space
    h3.form_elements-title radio buttons
  .form_elements-radio_buttons      
    .form_elements-radio
      label.radio_label(for='male')
        input.radio_input(name='gender', type='radio' id='male' value='male')
        span.radio_mark
        span.radio_text Мужчина
    .form_elements-radio
      label.radio_label(for='female')
        input.radio_input(name='gender', type='radio' id='female' value='female')
        span.radio_mark
        span.radio_text Женщина

.form_elements-item.form_elements-toggle_buttons-space
  .form_elements-head
    h3.form_elements-title toggle
  .form_elements-toggle_buttons      
    .form_elements-toggle
      label.toggle_label(for='special_offer')
        input.toggle_input(name='special_offer', type='checkbox' id='special_offer' value='special_offer')
        span.toggle_mark
        span.toggle_text Получать спецпредложения
    .form_elements-toggle
      label.toggle_label(for='special_offer_2')
        input.toggle_input(name='special_offer_2', type='checkbox' id='special_offer_2' value='special_offer_2')
        span.toggle_mark
        span.toggle_text Получать спецпредложения

.form_elements-item.form_elements-like_buttons-space
  .form_elements-head.head_like-buttons_space
    h3.form_elements-title like button
  .form_elements-like_buttons      
    .form_elements-like
      label.like_label(for='social_like_default')
        input.like_input(name='social_like_default', type='checkbox' id='social_like_default')
        span.like_mark
        span.like_text 2     
    .form_elements-like
      label.like_label(for='social_like')
        input.like_input(name='social_like', type='checkbox' id='social_like')
        span.like_mark
        span.like_text 12

.form_elements-item.form_elements-rate_buttons-space
  .form_elements-head.head_rate-buttons_space
    h3.form_elements-title rate button
  .form_elements-rate_buttons      
    .form_elements-rate
      label.rate_label(for='rate_1')
        input.rate_input(name='rate_1', type='checkbox' id='rate_1')
        span.rate_mark
      label.rate_label(for='rate_2')
        input.rate_input(name='rate_2', type='checkbox' id='rate_2')
        span.rate_mark
      label.rate_label(for='rate_3')
        input.rate_input(name='rate_3', type='checkbox' id='rate_3')
        span.rate_mark
      label.rate_label(for='rate_4')
        input.rate_input(name='rate_4', type='checkbox' id='rate_4')
        span.rate_mark
      label.rate_label(for='rate_5')
        input.rate_input(name='rate_5', type='checkbox' id='rate_5')
        span.rate_mark