.form_elements-item.form_elements-item_comment
  .form_elements-comment
    .form_elements-comment_avatar              
    .form_elements-comment_author Мурад Сарафанов
      .form_elements-comment_author-day  5 дней назад
    .form_elements-comment_author-like
      .form_elements-like
        label.like_label(for='social_like_2')
          input.like_input(name='social_like_2', type='checkbox' id='social_like_2')
          span.like_mark
          span.like_text 12
    .form_elements-comment_text
      | Великолепный матрас на кровати в основной спальне!
      | А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.
      | Выкрикивал комплименты повару — никто не жаловался из соседей.