.form_elements-item.form_elements-item_range-slider
  .form_elements-head
    h3.form_elements-title range slider
    p
      span.form_elements-descr.form_elements-descr_range-slider 5 000₽ - 10 000₽
  .form_elements-range_slider
    input.range-slider(type='range' min='5000' max='10000' id='myRange')

.form_elements-item.form_elements-item-buttons
  .form_elements-head.head-buttons_space
    h3.form_elements-title buttons
  .form_elements-buttons
    .form_elements-buttons_gradient
      button.buttons_gradient-default(type='submit')
        span.buttons_gradient_text click me
      button.buttons_gradient-hover(type='submit')
        span.buttons_gradient_text click me
    .form_elements-buttons_border-gradient
      button.buttons_border-gradient_default(type='submit')
        span.buttons_border-gradient_text click me
      button.buttons_border-gradient_hover(type='submit')
        span.buttons_border-gradient_text click me
    .form_elements-buttons_text
      p
        span.buttons_text click me  
        span.buttons_text_default click me
    .form_elements-buttons_payment
      .buttons_payment
        span.buttons_payment-text перейти к оплате
        button.buttons_payment-button(type='submit')
          img(src='assets/img/svg/arrow_forward_white.svg')

.form_elements-item.form_elements-item_pagination
  .form_elements-head.head-pagination_space
    h3.form_elements-title pagination
  .form_elements-pagination
    .pagination_wrapper
      ul.pagination
        li.pagination_item.pagination_active 
          a.pagination_link(href='#') 1
        li.pagination_item  
          a.pagination_link(href='#') 2
        li.pagination_item  
          a.pagination_link(href='#') 3
        li.pagination_item  
          a.pagination_link(href='#') ...
        li.pagination_item  
          a.pagination_link(href='#') 15
        li.pagination_item.pagination_next  
          a.pagination_link(href='#')
            img(src='assets/img/svg/arrow_forward_white.svg')
    .pagination_wrapper-text
      p
        span.pagination_text  1 – 12 из 100+ вариантов аренды 